---
import HomeLayout from '@layouts/HomeLayout.astro';
---

<HomeLayout title="404 Not Found · mvmdesigner🎨" contentType="website" description="" image="">
	<main>
		Note Found!
	</main>
</HomeLayout>